<div data-th-fragment="contact-view">
    <!-- Modal toggle -->
    <button data-modal-target="contact-view" data-modal-toggle="contact-view" class="block  hover:bg-blue-800"
        type="button" data-th-contact-id="*{id}" onclick="contactView(this.getAttribute('contact-id'))">
        <i class="fa-solid fa-eye text-gray-700 dark:text-blue-500"></i>
    </button>

    <!-- Main modal -->
    <div id="contact-view" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class=" items-center justify-between p-4 md:p-5  dark:border-gray-600">
                    <div class="flex">
                        <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="contact-view">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close Contact</span>
                        </button>
                    </div>

                    <div class="mt-4">
                        <!-- image Field -->
                        <div class="mb-2">
                            <img src="" id="image" alt="" class="rounded-full mx-auto" width="30%" height="100px">
                            <img onerror="this.src='https://brandeps.com/icon-download/C/Contact-icon-vector-01.svg'">
                        </div>

                        <div class="relative">
                            <p id="name" class="text-gray-900 text-2xl text-center w-full dark:text-gray-600  ">
                            </p>
                        </div>

                        <div class="relative">
                            <p id="email" class="text-gray-600 text-2xl text-center block w-full dark:text-white">
                            </p>
                        </div>
                        <div class="relative">
                            <p id="phoneNo"
                                class="4bg-gray-50 text-xl text-center text-gray-600 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="p-4 md:p-5 ">

                    <!-- Contact address Field -->
                    <div class="relative mb-2 border-b-2">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <i class="fa-solid fa-location-dot w-4 h-4 text-gray-500 dark:text-gray-400"></i>
                        </div>
                        <p id="address"
                            class="4bg-gray-50 text-lg text-center text-gray-600 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </p>
                    </div>
                    <!-- Contact Description Field -->

                    <div class="relative mb-2 border-b-2">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <i class="fa-solid fa-person w-4 h-4 text-gray-500 dark:text-gray-400"></i>
                        </div>
                        <p id="description"
                            class="4bg-gray-50 text-lg text-center text-gray-600 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </p>
                    </div>


                    <div class="relative mb-2 border-b-2">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <i class="fa-brands fa-square-facebook w-4 h-4 text-gray-500 dark:text-gray-400"></i>
                        </div>
                        <a id="facebookLink"
                            class="4bg-gray-50 text-lg text-center text-gray-600 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </a>
                    </div>

                    <div class="relative mb-2 border-b-2">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <i class="fa-brands fa-linkedin w-4 h-4 text-gray-500 dark:text-gray-400"></i>
                        </div>
                        <a  href="" target="_blank" id="linkdnLink"
                            class="4bg-gray-50 text-lg text-center text-gray-600 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </a>
                    </div>

                </div>

                <!-- favrate Field -->
                <div class="mb-2">

                    <div class="flex items-center ps-4  border-gray-200 rounded dark:border-gray-700">
                        <input id="favorite" name="favorite" type="checkbox"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="favorite"
                            class="w-full py-4 ms-2 text-sm font-medium text-gray-600 dark:text-gray-300">is
                            Favrate
                            Contact...?</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

</div>