<!DOCTYPE html>
<html lang="en" data-th-replace="~{/fragments/base :: base(~{::title}, ~{::main}, ~{})}">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

<body>



    <main class="sm:pl-64">

        <div data-th-if="${loginUser}">
            <!-- sidebar -->
            <aside data-th-replace="~{/users/sidebar :: sidebar}">
            </aside>
        </div>




        <!-- Profile Card -->
        <div class="flex text-center justify-center items-center align-middle" data-th-object="${loginUser}">
            <!-- User Id field -->
            <div class="mb-2">
                <div class="relative mb-6">
                    <input type="hidden" data-th-field="*{id}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Enter Contact name">
                </div>
            </div>

            <div class="w-full max-w-lg  bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6">
                <!-- Profile Picture -->
                <div class="flex justify-center">
                    <img th:src="*{profilePic}" data-th-alt="*{name}"
                        class="w-24 h-24 rounded-full shadow-lg border-4 border-blue-500 dark:border-blue-700">
                </div>

                <!-- User Info -->
                <div class="mt-6 text-center">
                    <h2 class="text-xl font-semibold" data-th-text="*{name}"></h2>
                    <p class="text-gray-600 dark:text-gray-400" data-th-text="*{email}"></p>
                    <p class="text-gray-600 dark:text-gray-400" data-th-text="*{phone}"></p>
                </div>

                <!-- Divider -->
                <div class="border-t border-gray-200 dark:border-gray-700 mt-4"></div>

                <!-- Details -->
                <div class="mt-4 space-y-2">
                    <!-- About -->
                    <div class="flex items-center">
                        <span class="font-medium w-1/3 ">About:</span>
                        <span class="text-gray-600 px-2 dark:text-gray-400 w-2/3" data-th-text="*{about}">Software
                            Developer at XYZ Corp.</span>
                    </div>


                    <!-- Account Enabled -->
                    <div class="flex items-center">
                        <span class="font-medium w-1/3">Account:</span>
                        <span class="text-green-500 dark:text-green-400 w-2/3" data-th-if="*{isEnabled}">Enable</span>
                        <span class="text-green-500 dark:text-green-400 w-2/3" data-th-unless="*{isEnabled}">Not
                            Enable</span>
                    </div>

                    <!-- Email Verified -->
                    <div class="flex items-center">
                        <span class="font-medium w-1/3">Email:</span>
                        <span class="text-green-500 dark:text-green-400 w-2/3"
                            data-th-if="*{isEmailVerified}">Verified</span>
                        <span class="text-red-500 dark:text-green-400 w-2/3" data-th-unless="*{isEmailVerified}">not
                            Verified</span>
                    </div>

                    <!-- Phone Verified -->
                    <div class="flex items-center">
                        <span class="font-medium w-1/3">Phone:</span>
                        <span class="text-green-500 dark:text-green-400 w-2/3"
                            data-th-if="*{isPhoneVerified}">Verified</span>
                        <span class="text-red-500 dark:text-red-400 w-2/3" data-th-unless="*{isPhoneVerified}">Not
                            Verified</span>
                    </div>
                </div>


                <button type="button"
                    class="px-4 py-2 my-5 bg-green-500 hover:bg-green-600 text-white rounded dark:bg-green-700 dark:hover:bg-green-800">
                    <a data-th-href="@{/user/profile/update}">Update</a>
                </button>

                <button type="button"
                    class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded dark:bg-green-700 dark:hover:bg-green-800">
                    <a data-th-href="@{/user/profile/delete/id={id}(id=*{id})}">Delete Acoount</a>
                </button>


            </div>

        </div>
    </main>


    <script></script>


</body>

</html>