<!DOCTYPE html>
<html lang="en" data-th-replace="~{/fragments/base :: base(~{::title}, ~{::main}, ~{})}">

<head>
    <meta charset="UTF-8">
    <title>success</title>
</head>

<body>


<main class="sm:mt-10 md:w-1/2 mx-auto ">
    <div data-th-replace="~{/fragments/message :: error_msg}"></div>

    <div >
        <button class="bg-blue-700 hover:bg-green-900 rounded-xl p-2 text-white dark:bg-gray-400 dark:hover:bg-gray-500 dark:text-gray-900 "><a data-th-href="@{/login/user}">Login</a></button>
    </div>

</main>

</body>

</html>