<!DOCTYPE html>
<html lang="en" data-th-replace="~{/fragments/base :: base(~{::title}, ~{::main}, ~{})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <main>
        <div class="mt-5">
            <div
                class="w-full mx-auto max-w-lg p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
                <div class="text-red-800" data-th-if="${param.error}">Password Or Email Invalid</div>
                <div class="text-green-800" data-th-if="${param.logout}">Logout Successfully</div>
                <form class="space-y-6 my-5" data-th-action="@{/login/user}" method="post">
                    <!-- message -->
                    <div data-th-replace="~{/fragments/message :: singup_msg}"></div>
                    <h5 class="text-xl font-medium text-gray-900 dark:text-white">Sign in To Colud Contact Manage</h5>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            email</label>
                        <input type="email" name="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="name@company.com" required />
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required />
                    </div>
                    <div class="flex items-start">
                        <!-- <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" type="checkbox" value=""
                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                                    required />
                            </div>
                            <label for="remember"
                                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember
                                me</label>
                        </div> -->
                        <a href="#" class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Lost
                            Password?</a>
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login
                        to your account</button>
                    <p class="text-center">Or</p>
                    <div class="flex items-center justify-center min-h-screen bg-gray-100">
                        <a
                                href="/oauth2/authorization/google"
                                class="flex items-center justify-center w-full max-w-xs px-4 py-2 text-sm font-semibold text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm hover:bg-gray-50 hover:shadow-md focus:ring-2 focus:ring-offset-1 focus:ring-blue-500 transition duration-150"
                        >
                            <img
                                    src="https://www.gstatic.com/images/branding/product/1x/gsa_64dp.png"
                                    alt="Google Logo"
                                    class="w-5 h-5 mr-2"
                            />
                            Sign in with Google
                        </a>
                    </div>

                    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                        Not registered? <a data-th-href="@{/singup/user}" class="text-blue-700 hover:underline dark:text-blue-500">Create
                            account</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>